.zoremmail-layout.zoremmail-layout-has-sider {
	z-index: 500000;
	position: fixed;
	overflow: visible;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	min-width: 0;
	margin-left: 300px;
}
/*aside panel css start*/
.zoremmail-layout-sider {
	min-height: 100vh;
	position: fixed;
	width: 18%;
	left: 0;
	min-width: 300px;
	max-width: 600px;
}
.zoremmail-layout-slider-header {
	background: #f0f0f1;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	width: calc(100% - 0px);
	position: absolute;
	top: 0;
}
aside.zoremmail-layout-content-collapse {
	position: absolute;
	bottom: 0;
	height: 46px;
	background: #fff;
	width: calc(100% - 0px);
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
ul.zoremmail-panels,ul.zoremmail-sub-panels {
	margin: 0;
}
.wordpress-to-back {
	line-height: 25px;
	padding: 10px;
	border: 0;
	border-right: 1px solid #e0e0e0;
	cursor: pointer;
}
.customize-section-back {
	display: block;
	float: left;
	width: 46px;
	height: 72px;
	padding: 0 20px 0 0;
	margin: 0;
	background: #fff;
	border: none;
	border-left: 0;
	cursor: pointer;
}
.zoremmail-layout .customize-section-back:focus, .zoremmail-layout .customize-section-back:hover {
	color: #fff !important;
	background: #3bc4e4 !important;
	border-left: 0 !important;
	box-shadow: none;
	outline: 2px solid transparent;
	outline-offset: -2px;
}
.zoremmail-menu-submenu-title.open .customize-section-back, .zoremmail-sub-panel-heading.open .customize-section-back {
	display: inline-block;
	line-height: 55px;
	background: #fff;
	border-right: 1px solid #e0e0e0;
}
.customize-section-back:before {
	font: normal 20px/72px dashicons;
	content: "\f341";
	position: relative;
	left: 9px;
}
.customize-section-back .dashicons-arrow-left-alt2 {
	font-size: 22px;
	font-weight: bold;
	margin: 0 5px 0 0;
}
.customize-section-title {
	background: #fff;
}
.customize-section-title.open {
	display: flex !important;
}
.customize-section-title h3 {
	font-size: 20px;
	font-weight: 200;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 10px 10px 12px 14px;
	margin: 0;
	line-height: 25px;
	color: #50575e;
}
.customize-section-title span.customize-action-default, .customize-section-title span.customize-action-changed {
	font-size: 13px;
	display: block;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.customize-section-title+li {
	border-top: 1px solid #e0e0e0;
}
input.zoremmail-range {
	width: calc(100% - 60px);
	background: #e0e0e0;
	-webkit-appearance: none;
	height: 8px;
	border-radius: 4px;
}
iframe#tracking_widget_privew {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
}
.sider-heading {
	margin: auto 0;
	font-size: 13px;
	font-weight: 600;
}
.zoremmail-back-wordpress {
	position: fixed;
	bottom: 0;
	padding: 15px;
	background: #fff;
	max-width: 270px!important;
	min-width: 270px!important;
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
a.zoremmail-back-wordpress-link {
	text-decoration: none;
	box-shadow: none;
	color: #23282d;
}
.zoremmail-back-wordpress-title {
	font-size: 25px;
	font-weight: 400;
	height: auto;
	width: auto;
}
.zoremmail-back-wordpress-title .dashicons-arrow-left-alt {
	margin-right: 10px;
}
.zoremmail-menu-submenu-title.open .customize-section-title {
	margin: 0;
	border-bottom: 1px solid #e0e0e0;
}
.zoremmail-menu-submenu-title, .zoremmail-sub-panel-title {
	display: none;
}
.zoremmail-menu-submenu-title, .zoremmail-panel-title, .zoremmail-sub-panel-title, .zoremmail-panel-title.back {
	line-height: 1.8;
	margin-bottom: 0;
	position: relative;
	background: #fff;
	padding: 10px 10px 11px 14px;
	border-bottom: 1px solid #e0e0e0;
	border-left: 4px solid #fff;
	font-size: 14px;
	font-weight: 600;
	color: #50575e;
	cursor: pointer;
}
.zoremmail-sub-panel-heading.sub_options_panel{
	margin-bottom: 0;
	border-bottom: 1px solid #e0e0e0;
}
.zoremmail-panel-title:hover, .zoremmail-sub-panel-title:hover, .zoremmail-sub-second-panel-title:hover {
	color: #3bc4e4;
	background: #f6f7f7;
	border-left: 4px solid #3bc4e4;
}
.zoremmail-menu-submenu-title .dashicons, .zoremmail-panel-title .dashicons, .zoremmail-sub-panel-title .dashicons {
	position: absolute;
	top: 30%;
	right: 20px;
	width: 10px;
}
.zoremmail-menu.zoremmail-menu-inline {
	margin: 0;
	padding-top: 1em;
}
.zoremmail-menu-item {
	margin: 0 15px;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 1.2em;
}
.menu-sub-title {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}
input[type=text] {
	cursor: pointer;
}
.wp-picker-container {
	display: inline-block;
}
.wp-picker-container .wp-color-result.button {
	min-height: 35px;
	padding: 0 0 0 30px;
	font-size: 11px;
	border-color: #e0e0e0;
}
.wp-picker-container input[type=text].wp-color-picker {
	width: 6rem;
	font-family: monospace;
	margin: 0;
	margin-left: 6px;
	margin-bottom: 6px;
	padding: 0 5px;
	line-height: 33px;
}
.menu-sub-tooltip {
	font-size: 12px;
	color: #424242;
}
.wp-color-result-text {
	background: #f6f7f7;
	border-radius: 0 2px 2px 0;
	border-left: 1px solid #e0e0e0;
	color: #50575e;
	display: block;
	line-height: 3;
	padding: 0 6px;
	text-align: center;
}
.menu-sub-field .zoremmail-input {
	width: 100%;
	min-height: 35px;
	border-color: #e0e0e0;
}
.zoremmail-menu-contain {
	display: none;
}
.zoremmail-menu-contain.active {
	display: block;
}
.wp-core-ui .button-trackship.btn_large.focus, .wp-core-ui .button-trackship.btn_large.hover, .wp-core-ui .button-trackship.btn_large:focus, .wp-core-ui .button-trackship.btn_large:hover {
	background: #3bc4e4;
	outline: none;
	box-shadow: none;
}
.wp-core-ui .button-trackship.btn_large {
	background: #3bc4e4;
    border-color: #3bc4e4;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	margin: 8px;
}
.wp-core-ui button.btn_large.button-primary[disabled] {
	color: #3bc4e4 !important;
}
.zoremmail-layout-content-container {
	display: flex;
}
.zoremmail-layout-content-preview {
	height: auto;
	min-height: 100vh;
	background: #f7f7f7;
	border-right: 1px solid #e0e0e0;
	width: 100%;
	display: inline-block;
}
.header_mockup_order, .header_shipment_status {
	display: none;
}
.zoremmail-layout-content-preview.customizer-unloading #overlay {
	position: fixed; /* Sit on top of the page content */	
	top: 0; 
	left: 300px;
	right: 0;
	bottom: 0;
	background-color: rgba(7, 29, 87, 0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: default; /* Add a pointer on hover */
	background: url('../assets/loader.svg') 50% 50% no-repeat rgba(255,255,255,.5);
	background-size: 50px;
}
.menu-sub-codeinfo.codeinfo code {
	padding: 10px;
	display: block;
	background: #fff;
	color: #505050;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	user-select: text;
}
aside .zoremmail-layout-content-media {
	float: right;
}
aside .zoremmail-layout-content-media a {
	text-decoration: none;
	box-shadow: none;
}
aside .zoremmail-layout-content-media .dashicons {
	color: #bdbdbd;
	width: 35px;
	height: 42px;
	font-size: 20px;
	vertical-align: middle;
	border-bottom: 4px solid transparent;
	padding: 0 3px;
	margin: 0 0 0 -4px;
	line-height: 46px;
	cursor: pointer;
}
aside .zoremmail-layout-content-media a.last-checked .dashicons {
	color: #3bc4e4;
	border-color: #3bc4e4;
}
aside .dashicons:focus, aside .dashicons:hover {
	color: #3bc4e495;
}
.customize-action-changed span.dashicons {
	width: 17px;
	height: 17px;
	vertical-align: middle;
	font-size: 17px;
}
.menu-sub-title .radio-button-label {
	cursor: pointer;
	display: inline-block;
	width: 50%;
	margin-right: -2px;
}
.menu-sub-title .radio-button-label > input {
	display: none;
}
.menu-sub-title .radio-button-label > input:checked + span {
	background-color: #3c4758;
	color: #fff;
}
.menu-sub-title .radio-button-label span {
	font-weight: 500;
	border: 1px solid #e0e0e0;
	background-color: #eee;
	padding: 8px 0;
	display: inline-block;
	width: 100%;
	text-align: center;
}
.zoremmail-layout-slider-content {
	position: absolute;
	top: 47px;
	bottom: 46px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	background: #f0f0f1;
	border-right: 1px solid #dcdcde;
}
.toplevel_page_trackship_customizer .snackbar-log-success {
	background: linear-gradient(to right, #05d6f2, #3bc4e4);
}
.select2-results__options {
	max-height: 300px !important;
}
.zoremmail-layout-content-header {
	background: #f0f0f1;
	border-bottom: 1px solid #e0e0e0;
	padding: 8px 10px; 
}
.header_select_box .select2-selection--single{
    border-color: #e0e0e0 !important;
}
.zoremmail-menu-item .select2-selection__arrow,
.zoremmail-menu-item .select2-selection__rendered,
.zoremmail-menu-item .select2-selection {
	height: 35px !important;
	line-height: 33px !important;
}
.zoremmail-menu-item .select2-selection {
	border-color: #e0e0e0 !important;
} 
.shipmentStatus.select .menu-sub-field, .email_preview.select .menu-sub-field {
	height: 35px;
}
.tgl-btn .menu-sub-field .shipment_email_label {
	margin: 0 8px;
}
/* Toggle CSS */
input[type=checkbox].tgl {
	display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
	box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
 background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
 background: none;
}
.tgl + .tgl-btn {
	outline: 0;
	display: inline-block;
	width: 36px;
	height: 18px;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
	position: relative;
	display: block;
	content: "";
	width: 40%;
	height: 100%;
}
.tgl + .tgl-btn:after {
	left: 0;
}
.tgl + .tgl-btn:before {
	display: none;
}
.tgl:checked + .tgl-btn:after {
	left: 50%;
}
.tgl-flat + .tgl-btn {
	padding: 2px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	background: rgba(0,0,0, 0.26);
	border: 1px solid #ccc;
	border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	background: #f2f2f2;
	content: "";
	border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
	border: 1px solid #ccc;
	background: #ffff;
	vertical-align: middle;
}
.zoremmail-layout .tgl-flat:checked + .tgl-btn:after {
	left: 55%;
	background: linear-gradient(to right, #05d6f2, #3bc4e4);
}
.rtl .tgl-flat:checked + .tgl-btn:after {
	right: 55%;
}
.rtl .tgl + .tgl-btn:after {
	right: 0;
}
/*Toggle end*/
@media screen and (min-width: 1667px) {
.zoremmail-layout.zoremmail-layout-has-sider {
	margin-left: 18%;
}
.zoremmail-layout-content-preview.customizer-unloading #overlay {
	left: 18%;
}
}

/*** Snackbar css START ***/
/* Animations to bouncein the snackbar in and out */
@-webkit-keyframes bouncein {
    from {
   right: 0;
   opacity: 0;
   }
    to {
   right: 20px;
   opacity: 1;
   }
   }
   @keyframes bouncein {
    from {
   right: 0;
   opacity: 0;
   }
    to {
   right: 20px;
   opacity: 1;
   }
   }
.snackbar-logs {
    position: fixed;
    z-index: 999999;
    top: 95px;
    right: 30px;
    width: 300px;
}
.snackbar-log {
    -webkit-animation: bouncein 0.5s;
    animation: bouncein 0.5s;
}
.snackbar-log {
    display: block;
    margin-top: 10px;
    position: relative;
    right: -300px;
    opacity: 0;
}
.snackbar-log-show {
    right: 0;
    opacity: 1;
}
.snackbar-log {
    background: #1F1F1F;
    background: rgba(0, 0, 0, 0.9);
    padding: 15px;
    border-radius: 4px;
    color: #FFF;
}
.snackbar-log-error {
    background: #ed1c24;
}
/*** Snackbar css END ***/
.zoremmail-layout .select2-container{
    height: 30px;
}